@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300;
}

.sidenav {
  @apply flex flex-col p-6 bg-gray-700 text-white;
  min-width: 15rem;
}

.btn {
  @apply font-medium text-sm rounded py-1 px-3;
}

.btn-lg {
  @apply py-2 px-4 text-lg;
}

.btn-sm {
  @apply py-1 px-2 text-xs;
}

.btn-default {
  @apply bg-gray-800 text-white border-gray-800;
}

.btn-default:hover {
  @apply bg-gray-700 border-gray-700;
}

.btn-default:disabled {
  @apply bg-gray-300 border-gray-300;
}

.btn-outline-default {
  @apply text-gray-800 border border-gray-800;
}

.btn-outline-default:hover {
  @apply bg-gray-800 border text-white;
}

.btn-outline-danger {
  @apply text-red-700 border border-red-700;
}

.btn-outline-danger:hover {
  @apply bg-red-700 border text-white;
}

.btn-danger {
  @apply bg-red-700 text-white border-red-700;
}

.btn-danger:hover {
  @apply bg-red-600 border-red-600;
}

.btn-danger:disabled {
  @apply bg-red-300 border-red-300;
}

.btn-link {
  @apply text-gray-700 border-0;
}

.btn-link:hover {
  @apply text-gray-900;
}

.alert {
  @apply border px-4 py-2 rounded relative;
}

.alert-danger {
  @apply bg-red-100 border-red-400 text-red-700;
}

.btn-nav {
  @apply bg-gray-600 w-full;
}

.wrapper {
  @apply bg-white m-6 rounded shadow-md overflow-auto w-full;
  height: calc(100vh - 13.5rem);
}

.footer {
  @apply bg-black text-white;
  height: 6.5rem;
}

.footer .controls button {
  outline: none !important;
  box-shadow: none !important; 
}

.opacity-10 {
  opacity: 0.1
}

.loader {
  position: absolute;
  left: calc(18rem + 50%);
  margin-left: calc(-9rem - 40px);
  top: calc(8rem + 50%);
  margin-top: calc(-4rem - 40px);
}

.double-bounce1 {
  background-color: #f56565 !important;
}
.double-bounce2 {
  background-color: #c53030 !important;
}
